{% extends 'partials/_base.html' %}

{% block content %}

<div class="container mt-4">

    <h1>Editar Processo</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <div class="form-text">
                    {{ field.help_text }}
                </div>
            {% endif %}
            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'detalhar-processo' processo.processo_sei %}">
        <button type="button" class="btn btn-danger">Cancelar</button></a>
    </form>

</div>

{% endblock %}