{% extends "partials/_base.html" %}

{% block content %}

<div class="container mt-4">

<h2>

{% if form.instance.pk %}
Editar Modalidade
{% else %}
Nova Modalidade
{% endif %}

</h2>


<form method="post">

{% csrf_token %}


<div class="card shadow-sm">

<div class="card-body">


<div class="mb-3">

{{ form.nome.label_tag }}

{{ form.nome }}

</div>


<button class="btn btn-primary">

Salvar

</button>


<a href="{% url 'modalidade_list' %}"
class="btn btn-secondary">

Cancelar

</a>


</div>

</div>


</form>


</div>

{% endblock %}