{% extends "partials/_base.html" %}

{% block content %}

<div class="container mt-4">

<div class="d-flex justify-content-between mb-3">

<h2>
Modalidades
</h2>

<a href="{% url 'modalidade_create' %}"
class="btn btn-primary">

Nova Modalidade

</a>

</div>


<table class="table table-striped">

<thead>

<tr>
<th>Nome</th>
<th>Ações</th>
</tr>

</thead>


<tbody>

{% for modalidade in modalidades %}

<tr>

<td>
{{ modalidade.nome }}
</td>


<td>

<a href="{% url 'modalidade_update' modalidade.pk %}"
class="btn btn-warning btn-sm">

Editar

</a>


<a href="{% url 'modalidade_delete' modalidade.pk %}"
class="btn btn-danger btn-sm">

Excluir

</a>


</td>

</tr>


{% empty %}

<tr>

<td colspan="2">
Nenhuma modalidade cadastrada.
</td>

</tr>


{% endfor %}

</tbody>


</table>


</div>

{% endblock %}