{% extends 'partials/_base.html' %}


{% block content %}
<h1>Cadastrar Processo</h1>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Cadastrar</button>
</form>

{% endblock %}
