{% extends 'partials/_base.html' %}


{% block content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for coordenador in coordenadores %}
                <tr>
                    <td>{{ coordenador.matricula }}</td>
                    <td>{{ coordenador.nome }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhum coordenador encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}
